:root {
  --font-family: "Arial", sans-serf;
  --bg-color: #e2e2e2;
  --primary-color: #3B5998;
  --secondary-color: #ffffff;
  --primary-shadow: #acacac;
  --secondary-shadow: #000000;
}


/* Navigation */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--primary-color);
  }

ul {
    display: flex;
    gap: 1.9rem;
    list-style-type: none;
  }

  .nav-title{
    font-size: 125%;

  }

  nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: var(--bold-font);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}


/* Hero IMG  */

.hero-img{
  height: 25%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Column  */

.left {
  width: 25%;
  float: left;
}

.right {
  width: 75%;
  float: right;
}

.left-column-title {
  margin-bottom: var(--bottom-margin);
  padding: 15px;
  text-align: right;
}



/* About */
.about-title {
  margin-bottom: var(--bottom-margin);
  width: 25rem;
  padding: 0.625rem;
  text-align: ce;
  width: 100%;
}

.bio {
  padding: 0.625rem;
  border-radius: 6px;
  width: 100%;
}

.bio-p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

/* Box */

.box {
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: calc(50% - 50px);
  color: var(--primary-color);
}

/* Project */

.main-project {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  width: 75%;
}

.small-project {
  padding: 5%;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: wrap;
}
.bottom-left {
  position: relative;
  top: -85px;
  right: -10px;
}



/* Contact */
.contact {
  margin-top: var(--bottom-margin-2)
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}
.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}
.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}

/* Footer */
.footer{
  text-align: center;
  padding-top: 5%;
}